* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #f5f7fa;
}

body.menu-open .article__container {
  margin-top: 100px;
}

button {
  padding: 0.4rem 0.5rem;
}

.home__page__content {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  text-align: center;
}

.home__page__content h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}

.home__page__content p {
  margin-bottom: 0.5rem;
}

.header {
  background: black;
  height: 100px;
  z-index: 9999;
}

.nav__container {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #c9c9c9;
}

.nav__link__active {
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 5px solid white;
}

.menu-open .nav__link__active {
  border-bottom: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav__container {
    padding: 1rem;
  }

  .nav__list {
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100px;
    right: 0;
    background: black;
    width: 100%;
    text-align: center;
    display: none;
  }

  .nav__list.open {
    display: block;
  }

  .nav__link {
    color: #fff;
    padding: 1rem;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
}

body.menu-open .nav__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

body.menu-open .article__container {
  margin-top: 250px;
  padding-top: 40px;
}



.article__container {
  margin-top: 0;
  transition: margin-top 0.3s ease;
}

.articles__title {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.articles__grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1280px;
  gap: 1rem;
  justify-content: center;
}

.sort__articles__container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;

}

.sort__articles__dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card__container:nth-last-child(n + 1) {
  margin-left: 0;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0px 25px 15px -25px rgba(151,
      163,
      184,
      1);
  border-radius: 1em;
  background: #ffffff;
  padding-bottom: 1rem;
  text-align: center;
}

.card__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__container h3,
.card__container p {
  margin: 0.5rem 0;
  padding: 0px 1rem;
}

@media (max-width: 768px) {
  .articles__grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.article__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.articles__pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0px;
}

.pagination__button {
  padding: 0.5rem 1.2rem;
  width: 100px;
  background-color: #8799b3;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pagination__button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.article__container {
  position: relative;
  max-width: 800px;
  border-radius: 2rem;
  padding: 3rem;
  margin: 50px auto;
  box-shadow: 0 0 300px rgb(92, 92, 92);
}

.article__container h1 {
  background: black;
  width: 100% + 55px;
  color: white;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem;
  margin-left: -55px;
}

.article__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tag {
  margin-bottom: 1rem;
  display: inline-block;
  background: #000000;
  color: #FFFFFF;
  margin: 10px 0;
  padding: 0.1rem 0.5rem;
  border-radius: 10%;
}

.header__tag {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.article__header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.author {
  background: #a0a0a0;
  color: #FFFFFF;
  margin: 20px 0;
  padding: 0.1rem 0.5rem;
  border-radius: 10%;
}

.created__at {
  color: #929292;
}

.article__body {
  margin-top: 2rem;
}

.article__footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.article__votes {
  display: flex;
  align-content: center;
  max-height: 1.5rem;
  gap: 0.6rem;
  background: #e9ecef;
}

.button__vote {
  padding: 0 0.5rem;
  background: #dce4ec;
  border: none;
  font-size: 1rem;
}

.button__vote img {
  max-height: 1rem;
  max-width: 1rem;
  padding: 0.1rem;
}

.button__vote:hover,
.button__vote img:hover {
  cursor: pointer;
  background: #ced6de;
  color: black;
}

.add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px #000(0, 0, 0, 0.1);
}

.add-comment-label {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.add-comment-input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.add-comment-input:focus {
  border-color: #007bff;
}

.post__comment__btn {
  padding: 0.5rem 1.2rem;
  max-width: max-content;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post__comment__btn:hover {
  background-color: #0056b3;
}

.post__comment__btn:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.comments__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.comment__card {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px #000(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.comment__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  font-weight: 700;
}

.comment__author {
  color: #14213d;
  margin-right: 1rem;
}

.comment__created {
  color: #888;
  white-space: nowrap;
}

.comment__body {
  line-height: 1.4;
  color: #333;
  margin: 0.5rem 0;
}

.comment__footer {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: #555;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .comment__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .comment__author,
  .comment__created {
    margin-bottom: 0.5rem;
  }

  .comment__footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.comment__votes {
  background: #e9ecef;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.comment__delete {
  color: #c1121f;
  margin-left: 2rem;
  padding: 0.3rem;
  background: none;
  border: 1px solid #c1121f;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.comment__delete:hover {
  background-color: #c1121f;
  color: white;
  transform: scale(1.05);
}

.err__wrapper {
  max-width: 390px;
  width: 100%;
  height: 390px;
  margin: auto;
  margin-top: 5rem;
}

.err__status {
  text-align: center;
  color: #000000;
  font-size: 70px;
  margin-bottom: 0px;
  font-weight: 800;
}

.err__msg {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin: 0px auto 30px auto;
}