* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.header {
  background: black;
  height: 100px;

}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #c9c9c9;
}

.articles__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card__container:nth-last-child(n + 1) {
  margin-left: auto;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(121, 154, 166, 0.2);
  border-radius: 1em;
  background: linear-gradient(to right, #FFFFFF, #f7f5f4);
  padding: 1rem;
  text-align: center;
}

.card__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__container h3,
.card__container p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .articles__grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}